<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>All films</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/angular.min.js}"/>
    <script type="text/javascript" th:src="@{/js/films.js}"/>
</head>
<body ng-app="filmApp">
<div class="container" ng-controller="filmsCTRL">
    <table class="table table-light">
        <thead>
            <tr>
                <td>Title</td>
                <td>Year</td>
                <td>Released</td>
                <td>Runtime</td>
                <td>Genre</td>
                <td>Director</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(key, film) in films">
                <td>
                    <a href="/film?title={{films[key].film.Title}}">
                        {{films[key].film.Title}}
                    </a>
                </td>
                <td>
                    {{films[key].film.Year}}
                </td>
                <td>
                    {{films[key].film.Released}}
                </td>
                <td>
                    {{films[key].film.Runtime}}
                </td>
                <td>
                    {{films[key].film.Genre}}
                </td>
                <td>
                    {{films[key].film.Director}}
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>